:root {
--forgot:#404156;
}

html[data-theme="dark"] {
    --forgot:#9F9F9F;
}
.forgot{
    margin-top: -17px;
    margin-bottom: 20px;
    a{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        margin-bottom: 20px;
        color: var(--forgot);
    }
}