.forgot{
    margin-top: -17px;
    margin-bottom: 20px;
    a{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        margin-bottom: 20px;
        color: #404156;
    }
}