:root {
--li-active:#DA1414;
--notification-bg:#FCFCFC;
--li:#404156;
--slider:#ccc;
--slider-circle:white;
--slider-circle-before:white;
--slider-circle-before-chek:white;
--slider-bg:#DA1414;
}


html[data-theme="dark"] {
    --li-active:#DEDEDE;
    --notification-bg:#1B1B1B;
    --li:#9F9F9F;
    --slider:#9F9F9F;
    --slider-circle:#262626;
    --slider-circle-before:#727272;
    --slider-circle-before-chek:#262626;;
    --slider-bg:#9F9F9F;
}
.main-settings{
    margin: 50px 0 20px 0;
    .main-settings_container {
        @media (max-width:800px) {
            flex-direction: column;
        }
        display: flex;
        gap: 30px;
        .profile_settings {
            min-width: 255px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                li{
                    display: flex;
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 135%;  
                    color: var(--li);
                    background: inherit;
                    position: relative;
                    &.active{
                        color: var(--li-active);
                        padding-left: 15px;
                        &::after{
                            position: absolute;
                            top: 8px;
                            left: 0;
                            content: '';
                            border-radius: 50%;
                            height: 5px;
                            width: 5px;
                            background-color: var(--li-active);
                        }
                    }
                }
            }

        }
        .profile_notifications {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .notification{
                align-items: center;
                background: var(--notification-bg);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                h3{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 135%; 
                    color:var(--li);
                }
                .switch {
                    input{

                    }
                    .slider {
                    }
                }
            }
        }
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 16px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    background-color:var(--slider);
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: var(--slider-circle);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:var(--slider-bg);
  }  
  input + .slider:before {
    background-color: var(--slider-circle-before);
  }
  input:checked  + .slider:before {
    background-color: var(--slider-circle-before-chek);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(19px);
  }
  
