:root {
--li-active:#DA1414;
--notification-bg:#FCFCFC;
--li:#404156;
--slider:#ccc;
--slider-circle:white;
--slider-circle-before:white;
--slider-circle-before-chek:white;
--slider-bg:#DA1414;
--sessin-hed:#ffff;
 --svg-bg:#FBD0D0;
--delet-bj:#FBD0D0;
--rd-tt:#DA1414;
--sv:#DA1414;
--privacy:#DA1414;
// --social-hov:
}


html[data-theme="dark"] {
    --li-active:#DEDEDE;
    --notification-bg:#1B1B1B;
    --li:#9F9F9F;
    --slider:#9F9F9F;
    --slider-circle:#262626;
    --slider-circle-before:#727272;
    --slider-circle-before-chek:#262626;;
    --slider-bg:#9F9F9F;
    --sessin-hed:#262626;
    --delet-bj:#262626;
    --rd-tt:#DEDEDE;
    --svg-bg:#727272;
    --sv:#ffff;
    --privacy:#DEDEDE;
}

.sv path {
  fill: var(--sv);
}
.main-settings{
    margin: 50px 0 20px 0;
    .main-settings_container {
        @media (max-width:800px) {
            flex-direction: column;
        }
        .item-tabs{
          display: none;
          width: 100%;
        }
        .item-tabs.active{
          display: block;
        }
        display: flex;
        gap: 30px;
        .profile_settings {
            min-width: 255px;
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                button{
                    display: flex;
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 135%;  
                    color: var(--li);
                    background: inherit;
                    position: relative;
                    cursor: pointer;
                    &.active{
                        color: var(--li-active);
                        padding-left: 15px;
                        &::after{
                            position: absolute;
                            top: 8px;
                            left: 0;
                            content: '';
                            border-radius: 50%;
                            height: 5px;
                            width: 5px;
                            background-color: var(--li-active);
                        }
                    }
                }
            }

        }
        .profile_notifications {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .notification{
                align-items: center;
                background: var(--notification-bg);
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                padding: 20px;
                h3{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 135%; 
                    color:var(--li);
                }
                .switch {
                    input{

                    }
                    .slider {
                    }
                }
            }
        }
        .profile_security-privacy,.profile_anime-list {
          width: 100%;
          .profile-prof {
            .profile_info {
              display: flex;
              gap: 30px;
              position: relative;
              img{
                @media (max-width:425px) {
                  max-width: 95px;
                  max-height: 95px;
                }
                max-width: 160px;
                max-height: 160px;
                border-radius: 50%;
                              
              }
              .change-photo {
                opacity: 0;
                position: absolute;
                left: 50px;
                top: 47px;
                cursor: pointer;
                 transition: all 0.3s ease 0s; 
                &:hover{
                  opacity: 1;
                  .pro{
                    opacity: 0.7;
                  }
                }
              } 

              div{
                .profile_name {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  margin-bottom: 20px;
                  h2{
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 135%;                  
                    color: var(--li-active);
                  }
                  div{
                    cursor: pointer;
                    height: 25px;
                    width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--svg-bg);
                    border-radius: 5px;
                    svg{

                    }
                  }
                }
                .social.profile_pravecy{
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  margin-bottom: 15px;
                  a{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 135%;
                    color: #9F9F9F;
                     transition: all 0.3s ease 0s;
                    &:hover{
                      color: #1DA1F2;
                    }
                  }

                }
                .profile_pravecy{
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  margin-bottom: 15px;
                  svg{

                  }
                  a{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 135%;
                    color: #9F9F9F;
                     transition: all 0.3s ease 0s;
                    &:hover{
                      color: var(--privacy);
                    }
                  }
                }

              }

            }
          }
          .profile_sessions {
            .sessions_header { 
              margin-bottom: 20px;
              margin-top: 50px;
              background: var(--sessin-hed);
              box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
              border-radius: 10px;  
              display: flex; 
              justify-content: space-between;     
              align-items: center;   
              padding: 20px; 
              .header_left {
                display: flex;
                align-items: center;
                gap: 10px;
                h2{
                  font-family: 'Poppins';
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 135%;
                  color: var(--li-active);
                }
              }
              .filtr {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
                p{
                  font-family: 'Poppins';
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 135%;
                  color: var(--li-active);

                }
              }
            }
            .full-session{
              display: flex;
              border-radius: 10px;
              .profile_session.anime-list{
                flex: 1;
                display: flex;
                align-items: center;
                gap: 30px;
                background:var(--notification-bg);
                padding: 0;
                justify-content: normal;
                @media (max-width:425px) {
                  padding: 10px;
                  align-items: center;
                  justify-content: center;
                  gap: 10px;
                }
                img{
                  @media (max-width:425px) {
                    max-width: 100%;
                    max-height: 193px;
                  }
                  max-width: 95px;
                }
              }
              .profile_session {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                padding: 40px 30px;
                background:var(--notification-bg);
              
                @media (max-width:420px) {
                  flex-wrap: wrap;
                }
                svg{
                  @media (max-width:625px) {
                    display: none;
                  }
                }
                .session_imfo {
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  h3{
                    margin-bottom: 5px;
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 135%;
                    color:var(--li-active);
                  }
                  h2{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 135%;  
                    color: var(--li);                  
                  }
                }
                p{
                  font-family: 'Poppins';
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 135%;               
                  text-align: center;           
                  color: #9F9F9F;
                  
                }
                .current{
                  @media (max-width:530px) {
                    display: none;
                  }
                  font-family: 'Poppins';
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 135%;               
                  text-align: center;      
                  color: #CA3000;                                    
                }
              
              }
              .delet {
                background:var(--delet-bj);   
                width: 65px; 
                display: flex;
                align-items: center;
                justify-content: center;  
                cursor: pointer;            
              }
            }
          }

        }
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 16px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    background-color:var(--slider);
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: var(--slider-circle);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:var(--slider-bg);
  }  
  input + .slider:before {
    background-color: var(--slider-circle-before);
  }
  input:checked  + .slider:before {
    background-color: var(--slider-circle-before-chek);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(19px);
  }
  
