:root {
--register-bg:rgba(255, 255, 255, 0.8);
--register-tt:#404156;
--input-bg:#F6F6F6;
--register-btn:#DA1414;
--google-btn:#fff;
--register-txt:#404156;
--register-txt-2:#FFFFFF;
}

html[data-theme="dark"] {
    --register-bg:rgba(18, 18, 18, 0.8);
    --register-tt:#9F9F9F;
    --input-bg:#262626;
    --register-btn:#DEDEDE;
    --google-btn:#262626;
    --register-txt:#DEDEDE;
    --register-txt-2:#DEDEDE;

}

.regiter_profile_img{
    background: #F6F6F6;
    padding: 8px;
    border-radius: 50%;
}
.main{
}
// .register-body{
//     height: 100vh;
// }
.header{
    z-index: 100;
}
.register_main {

    .register_bj{ 
        position: absolute;
        width: 100%;
        height: 150%;
        top: 0;
        left: 0;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
        
        }
    }
    .register_container{
        div{
            .reguster_form {
                @media (max-width:560px) {
                    padding: 30px;
                }
                margin: 140px 0;
                float: right;
                width: 100%;
                max-width: 540px;
                z-index: 10;
                padding: 40px 95px 60px 95px;
                background: var(--register-bg);
                backdrop-filter: blur(10px);
                border-radius: 10px;
                .register_title {
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 38px;
                    line-height: 135%;
                    text-align: center;
                    color: var(--register-tt);
                    margin-bottom: 20px;
                }
                .register_data{
                    position: relative;
                    margin-bottom: 20px;
                    img{
                        padding: 15px;
                        position: absolute;
                    }
                    input{
                        width: 100%;
                        padding: 20px 15px 20px 54px;
                        background: var(--input-bg);
                        border-radius: 10px;

                    }
                    .hidevis{
                        right: 0;
                        padding: 15px;
                        position: absolute;
                        cursor: pointer;
                    }

                }
                .register_btn{
                    width: 100%;
                    display: block;
                    text-align: center;
                    border-radius: 10px;
                    background: var(--register-btn);
                    padding: 15px;
                    margin-bottom: 20px;
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 135%;
                        color: var(--google-btn);
                        cursor: pointer;
                }
                .register_description{
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    a{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 135%;
                        text-decoration-line: underline;
                        color: var(--register-btn);
                    }
                    p{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 135%;
                        color: var(--register-tt);

                    }
                }
                .btns_login{
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;
                    a{
                        display: flex;
                        justify-content: center;
                        padding: 11px;
                        align-items: center;
                        text-align: center;
                        border-radius: 10px;
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 135%;
                        img{
                            margin-right: 10px;

                        }
                    }
                    .google{
                        background-color: var(--google-btn);
                        color:var(--register-txt);
                    }
                    .facebook{
                        background: #0053B5;
                        color: var(--register-txt-2);
                    }
                }
            }
        }
    }
}



.register_login {
}
.register_description {
}
.btns_ligin {
}