*,
 *::before,
*::after {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
}
a {
text-decoration: none;
}
ul,
ol,
li {
list-style: none;
}
img {
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: inherit;
font-size: inherit;
}
html,
body {
height: 100%;
}
body {
line-height: 1;
color: #333333;
}
 .wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
[class*=_container]{
max-width: 1140px;
margin: 0 auto;
padding: 0 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@300&display=swap');
//загальні класи
.footer_tt{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #DA1414; 
    margin-bottom: 10px;
}
.watching{
    background: #CAC200;
}
.viewed{
    background: #00CAA6;
}
.thrown{
    background: #CA3000;
}
body{
    background: #F6F6F6;
}
// ========================CARD====================================================
.top_items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(225px ,1fr));
    gap: 30px;
    .top_item{
        position: relative;
        display: inline-block;
        img{
            width: 100%;
            display: block;
            height: auto;
        }
    }
}

.card_info {
    position: absolute;
    bottom: 0;
     width: 100%;
}
.card_status {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
    h3{
        padding: 3px 0;
    }
}
.card_description {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(2.5px);
    h2{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: #DA1414;
        margin-bottom: 10px;
    }
    p{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        color: #404156;
    }
}
.catd_rating {
    display: flex;
    gap: 11px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 20px;
    right: 20px;
    p{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: #DA1414;
    }
}
// ============================================================================
.header {
    padding: 26px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
    .header_container {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        align-items: center;
        .header_logo {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            color: #DA1414;
            cursor: pointer;
        }
        .mb_burger{
            @media (max-width:1073px) {
                    position: fixed;
                    left: -100%;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.801);
                    padding-top: 90px;
                    transition: all 0.3s ease 0s;
                    overflow: auto;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;
                    .active &{
                        left: 0;
                    }
                    
            }
            display: flex;
            align-items: center;
            gap: 50px;
            nav{
                @media (max-width:1050px) {
                }
                ul{
                    @media (max-width:1073px) {
                            display: block; 
                    }
                    display: flex;
                    gap: 20px;
                    li{
                        @media (max-width:1073px) {
                                margin-bottom: 20px;
                        }
                        a{
                            @media (max-width:1073px) {
                                    font-size: 24px;
                                    color: white;
                            }
                            cursor: pointer;
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 135%;
                            color: #404156;
                            transition: all 0.3s ease 0s;
                        &:hover{
                            color: #DA1414;
                        }
                        }
                        align-items: center;
                        text-align: center;
                        display: flex;
                        gap: 8px;
    
                    }
                }
            }
            form{
                img{
                    position: absolute;
                    padding: 9.5px;
                }
                .header_search {
                    padding: 10px 10px 10px 38px;
                    background: #F6F6F6;
                    border-radius: 10px;
                }
            }
        }
        
        
        .header_profile {
            display: flex;
            align-items: center;
            gap: 20px;
            div img:not(:last-child){
                margin-right: 8px;
            }

        }
        .category{
            @media (max-width:1073px) {
                display: initial;
                z-index: 10;
            }
            display: none;
        }
    }
}





.main {
    margin-top: 50px;
    .main_container {
        .main_content {
            max-width: 825px;
            .main_seasons {
                .swiper-slide{
                   
                }
                .seasons_header {
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                    border-radius: 10px;
                    padding: 18px 20px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .header_left{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        img{
                            padding: 6.5px;
                            background: #DA1414;
                            border-radius: 5px;
                        }
                        h2{
                            font-family: 'Poppins';
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 135%;
                            color: #DA1414;
                        }
                    
                    }
                }
            }
            .main_top{
                margin-top: 50px;
                margin-bottom: 32px;
                .top_header{
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                    border-radius: 10px;
                    padding: 18px 20px;
                    display: flex;
                    margin-bottom: 20px;
                    gap: 10px;
                    align-items: center;
                    img{
                        padding: 6.5px;
                        background: #DA1414;
                        border-radius: 5px;
                    }
                    h2{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 135%;
                        color: #DA1414;
                    }
                }
            }
            .main_mo_btn{
                width: 100%;
                background: #FAFAFA;
                box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                border-radius: 10px;
                color: #DA1414;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 18px;
                line-height: 135%;
                text-align: center;
                padding: 20px 0;
                cursor: pointer;
            }
        }
        .main_sidebar {
            .sidebar_news {
            }
            .sidebar_reviews {
            }
            .sidebar_social_btn {
                .social_btn {
                }
            }
        }
    }
}









.footer {
    padding: 50px 0;
    margin-top: 50px;
    background-color: white;
    .footer_container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        @media (max-width:700px) {
            gap: 30px;
        }
        @media (max-width:570px) {
            position: relative;
            gap: 30px;
            flex-direction: column;
        }
        .footer_social {
            margin-right: 41px;
            @media (max-width:720px) {
                margin-right: 0;
            }
            .socisl_title{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                color: #DA1414;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .social_subtitle {
                margin-bottom: 20px;
                font-family: 'Ubuntu';
                font-weight: 300;
                font-size: 12px;
                line-height: 16px;
                color: #9F9F9F;
            }
            .socisl_items {
                display: flex;
                gap: 15px;
            }
            .social_item {
            }
        }
        .footer_list{
            display: flex;
            gap: 30px;

            .footer_seasons {
                margin-right: 93px;
                @media (max-width:700px) {
                        margin-right: 63px;
                }
            ul{
                li{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #404156;
                }
                li:not(:last-child){
                    margin-bottom: 10px;
                }
            }
            }
            .footer_genres {
                margin-right: 93px; 
                @media (max-width:700px) {
                        margin-right: 63px;
                }
                ul{
                    li{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #404156;
                    }
                    li:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .footer_about{
            max-width: 349px;
            @media (max-width:880px) {
                     display: none;
            }
            .about_text{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: #404156;
            }
        }
        .button_up {
            @media (max-width:570px) {
                   position: absolute;
                   top: 0;
                   right: 15px;
            }
            padding: 15px 12px;
            background-color: #DA1414;
            border-radius: 10px;
            height: 40px;
            width: 40px;
        }
    }
}

