//=====================================обнулення==========================================================
*,
 *::before,
*::after {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
}
a {
text-decoration: none;
}
ul,
ol,
li {
list-style: none;
}
img {
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: inherit;
font-size: inherit;
}
html,
body {
height: 100%;
}
body {
line-height: 1;
color: #333333;
}
 .wrapper{
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}
[class*=_container]{
max-width: 1140px;
margin: 0 auto;
padding: 0 15px;
}
//==============================================================підключення файлів===============================================
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@300&display=swap');
@import"./register.scss";
@import"./_login.scss";
@import"./_profile.scss";
//====================================================теми=======================================================================
:root {

    --clr-body-bg: #F6F6F6;
    --clr-header: #fff;
    --clr-icon-bg: #DA1414;
    // --clr-reiting:
    --clr-card-blur:rgba(255, 255, 255, 0.9);
    --clr-red-txt:#DA1414;
    --clr-gray-txt:#DA1414;
    --clr-subtitle-1:#404156;
    --clr-subtitle-1-hov:#da141486;
    --clr-subtitle-2:#404156;
    --clr-search:#F6F6F6;
    --clr-btn-bg:#FAFAFA;
    --clr-btn-up:#DA1414;
    --clr-btn-triple:#404156;
    --clr-bg-svipe:#FBD0D0;
    --clr-reiting-bg:rgba(255, 255, 255, 0.8);
    // --clr-np-btn:
}

html[data-theme="dark"] {

    --clr-body-bg: #121212;
    --clr-header: #262626;
    --clr-icon-bg: #DEDEDE;
    // --clr-reiting:
    --clr-card-blur:rgba(18, 18, 18, 0.9);
    --clr-red-txt:#DEDEDE;
    --clr-gray-txt:#DEDEDE;
    --clr-subtitle-1:#9F9F9F;
    --clr-subtitle-1-hov:#dadada;
    --clr-subtitle-2:#DEDEDE;
    --clr-search:#121212;
    --clr-btn-bg:#181818;
    --clr-btn-up:#121212;
    --clr-btn-triple:#DEDEDE;
    --clr-bg-svipe:#121212;
    --clr-reiting-bg:rgba(18, 18, 18, 0.8);
}
.hide{
    display: none;
  }
//================================================загальні класи====================================================
.footer_tt{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--clr-red-txt); 
    margin-bottom: 10px;
}
.watching{
    background: #CAC200;
}
.viewed{
    background: #00CAA6;
}
.thrown{
    background: #CA3000;
}
body{
    background:var(--clr-body-bg);
}
.swiper-button-prev, .swiper-button-next{
    cursor: pointer;
    background:var(--clr-bg-svipe);
    border-radius: 5px;
  }
// ========================CARD====================================================
.read-more-target {
    display: none;
}
.showText {
    display: block;
}
._items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(225px ,1fr));
    gap: 30px;
    ._item{
        cursor: pointer;
        position: relative;
        box-shadow: 0px 4px 4px rgba(230, 230, 230, .25);
        // display: inline-block;
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            display: block;
            height: auto;
            border-radius: 10px;
             transition: all 0.3s ease 0s;
            &:hover{
                 transform: scale(1.1);
            }
        }
        
    }
}

.card_info {
    position: absolute;
    bottom: 0;
     width: 100%;
}
.card_status {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
    h3{
        padding: 3px 0;
    }
}
.card_description {
    padding: 20px;
    background: var(--clr-card-blur);
    backdrop-filter: blur(2.5px);
    border-radius: 0 0 10px 10px;
    h2{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: var(--clr-red-txt);
        margin-bottom: 10px;
    }
    p{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        color: var(--clr-subtitle-1);
    }
}
.catd_rating {
    z-index: 100;
    display: flex;
    gap: 11px;
    padding: 5px 10px;
    background: var(--clr-reiting-bg);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 20px;
    right: 20px;
    p{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color:  var(--clr-red-txt);
    }
}

._header{
    background: var(--clr-header);
    box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
    border-radius: 10px;
    padding: 18px 20px;
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    align-items: center;
    img {
        padding: 6px;
        background: var(--clr-icon-bg);
        border-radius: 5px;
    }
    h2{
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 18px;
        line-height: 135%;
        color:  var(--clr-red-txt);
    }
}
// ============================================================================
.header {
    padding: 26px 0;
    background: var(--clr-header);
    box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
    .header_container {
        display: flex;
        justify-content: space-between;
        gap: 25px;
        align-items: center;
        .header_logo {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 24px;
            line-height: 135%;
            color:  var(--clr-red-txt);
            cursor: pointer;
        }
        .mb_burger{
            @media (max-width:1073px) {
                    position: fixed;
                    left: -100%;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.801);
                    padding-top: 90px;
                    transition: all 0.3s ease 0s;
                    overflow: auto;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;
                    .active &{
                        left: 0;
                    }
                    
            }
            display: flex;
            align-items: center;
            gap: 50px;
            nav{
                @media (max-width:1050px) {
                }
                ul{
                    @media (max-width:1073px) {
                            display: block; 
                    }
                    display: flex;
                    gap: 20px;
                    li{
                        @media (max-width:1073px) {
                                margin-bottom: 20px;
                        }
                        a{
                            @media (max-width:1073px) {
                                    font-size: 24px;
                                    color: white;
                            }
                            cursor: pointer;
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 135%;
                            color: var(--clr-subtitle-1);
                            transition: all 0.3s ease 0s;
                        &:hover{
                            color: #DA1414;
                        }
                        }
                        align-items: center;
                        text-align: center;
                        display: flex;
                        gap: 8px;
    
                    }
                }
            }
            form{
                img{
                    position: absolute;
                    padding: 9.5px;
                }
                .header_search {
                    padding: 10px 10px 10px 38px;
                    background: var(--clr-search);
                    border-radius: 10px;
                }
            }
        }
        
        
        .header_profile {
            display: flex;
            align-items: center;
            gap: 20px;
            div{
                cursor: pointer;
                display: flex;
                gap: 10px;
                align-items: center;
                .sun{
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .category{
            @media (max-width:1073px) {
                display: initial;
                z-index: 10;
            }
            display: none;
        }
    }
}





.main {
    margin: 50px 0;
    .main_container {
        .main_full{
            display: flex;
            gap: 30px;
            @media (max-width:940px) {
                   display: block;
           }
            .main_content {
                max-width: 74.3%;
                @media (max-width:940px) {
                       max-width: 100%;
               }
                .main_seasons {
                    .swiper-slide{
                    
                    }
                    .seasons_header {
                        background: var(--clr-header);
                        box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                        border-radius: 10px;
                        padding: 18px 20px;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        .header_left{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            img{
                                padding: 6px;
                                background: var(--clr-icon-bg);
                                border-radius: 5px;
                            }
                            h2{
                                font-family: 'Poppins';
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 135%;
                                color: var(--clr-red-txt);
                            }
                        
                        }
                    }
                }
                .main_top{
                    margin-top: 50px;
                    
                    
                }
                .main_mo_btn{
                    margin-top: 32px;
                    width: 100%;
                    background: var(--clr-btn-bg);
                    box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                    border-radius: 10px;
                    color:  var(--clr-red-txt);
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 135%;
                    text-align: center;
                    padding: 20px 0;
                    cursor: pointer;
                     transition: all 0.3s ease 0s;
                    &:hover{
                        color: white;
                        background-color: #DA1414;
                    }
                }
            }
            .main_sidebar {
                width: 100%;
                .sidebar_news {
                    .news_cards {
                        margin: 0 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .card{
                            .news_card {
                                &.active .card_title::after{
                                    transform: rotate(-45deg);
                                    background-color: var(--clr-red-txt);
                                }
                                &.active .card_title::before{
                                    transform: rotate(45deg);
                                    background-color: var(--clr-red-txt);
                                }
                                &.active h3{
                                    color: var(--clr-red-txt); 
                                }
                                h3{
                                    font-family: 'Poppins';
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 135%;
                                    color: var(--clr-subtitle-2);
                                     
                                    position: relative;
                                    cursor: pointer;
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 7px;
                                        right: 0;
                                        background-color: #404156;
                                        width: 8px;
                                        transform: rotate(-45deg);
                                        height: 1px;
                                        border-radius: 5px;
                                         transition: all 0.3s ease 0s;
                                    }
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        top: 7px;
                                        right: 0;
                                        background-color: #404156;
                                        width: 8px;
                                        transform: rotate(45deg);
                                        height: 1px;
                                        margin-right: 5px;
                                        border-radius: 5px;
                                         transition: all 0.3s ease 0s;
                                    }
                                    &.active::after{
                                        transform: rotate(45deg);
                                    }
                                    &.active::before{
                                        transform: rotate(-45deg);
                                    }
                                }
                                p{
                                    font-family: 'Poppins';
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 135%;
                                    color: #9F9F9F;
                                }
                                .genre {
                                    margin-bottom: 5px;
                                    
                                }
                                .date {
                                    margin-bottom: 5px;
                                }
                            }
                            .card_img{
                                @media (max-width:940px) {
                                    max-width: 100px;
                                }
                                 width: 100%;
                                display: none;
                                height: auto;
                                border-radius: 10px;
                                cursor: pointer;
                            }
                        }
                       
                    }
                }
                .sidebar_reviews {
                    margin-top: 50px; 
                    .reviews_main{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        img{
                            width: 100%;
                            height: auto;
                            display: block;
                            box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                            border-radius: 10px;

                        }
                    }    
                }
                .sidebar_social_btn {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .social_btn {
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 135%;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 20px 0;
                        border-radius: 10px;
                    }
                    .inst{
                        background: linear-gradient(93.38deg, #C000C4 0%, #EE7200 100%), #FAFAFA;                    
                        box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                    }
                    .teleg{
                        background: linear-gradient(93.38deg, #97C7FF 0%, #0679FF 100%), #FAFAFA;
                        box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                    }
                    .youtube{
                        background: linear-gradient(93.38deg, #DA1414 0%, #9F0000 100%);
                        box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
                    }
                }
            }
           
            
           
            
            
            
            
            .sidebar_social_btn {
            }
            .social_btn {
            }
        }
    }
}


@media (max-width:940px) {
     .card {
        display: flex;
    }   
    .news_card {
        display: flex;
    }
}
// 
.skeleton::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}
@keyframes skeleton{
    0%{
        background-position: -100% 0;
    }
    100%{
        background-position: 100% 0;
    }
}
.skeleton-1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #eee, #929292, #eee);
    background-size: 200%;
    animation: skeleton-1 1s infinite reverse;
}
@keyframes skeleton-1{
    0%{
        background-position: -100% 0;
    }
    100%{
        background-position: 100% 0;
    }
}







.footer {
    padding: 50px 0;
    background-color: var(--clr-header);
    .footer_container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        @media (max-width:700px) {
            gap: 30px;
        }
        @media (max-width:570px) {
            position: relative;
            gap: 30px;
            flex-direction: column;
        }
        .footer_social {
            margin-right: 41px;
            @media (max-width:720px) {
                margin-right: 0;
            }
            .socisl_title{
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                color: var(--clr-red-txt);
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .social_subtitle {
                margin-bottom: 20px;
                font-family: 'Ubuntu';
                font-weight: 300;
                font-size: 12px;
                line-height: 16px;
                color: #9F9F9F;
            }
            .socisl_items {
                display: flex;
                gap: 15px;
                a{
                    display: flex;
                    .social_item {
                        cursor: pointer;
                    }
                }
            }
            
        }
        .footer_list{
            display: flex;
            gap: 30px;

            .footer_seasons {
                margin-right: 93px;
                @media (max-width:700px) {
                        margin-right: 63px;
                }
            ul{
                li{
                    a{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: var(--clr-subtitle-1);
                        cursor: pointer;
                         transition: all 0.3s ease 0s;
                        &:hover{
                            color: var(--clr-subtitle-1-hov);
                        }
                    }
                }
                li:not(:last-child){
                    margin-bottom: 10px;
                }
            }
            }
            .footer_genres {
                margin-right: 93px; 
                @media (max-width:700px) {
                        margin-right: 63px;
                }
                ul{
                    li{
                        a{
                            font-family: 'Poppins';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            cursor: pointer;
                             transition: all 0.3s ease 0s;
                            color: var(--clr-subtitle-1);
                            &:hover{
                                color: var(--clr-subtitle-1-hov);
                            }
                        }
                    }
                    li:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .footer_about{
            max-width: 349px;
            @media (max-width:880px) {
                     display: none;
            }
            .about_text{
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                color: var(--clr-subtitle-1);
            }
            .about_text p:not(:last-child){
                margin-bottom: 7px;
            }
        }
        .button_up {
            @media (max-width:570px) {
                   position: absolute;
                   top: 0;
                   right: 15px;
            }
            padding: 14px 11px;
            background-color: var(--clr-btn-up);
            border-radius: 10px;
            height: 40px;
            width: 40px;
            border: 1px solid var(--clr-btn-up);
            cursor: pointer;
            transition: all 0.3s ease 0s;

            &:hover{
                background-color: inherit;
            }
            &:hover img{
                filter: brightness(0) saturate(100%) invert(17%) sepia(62%) saturate(5963%) hue-rotate(355deg) brightness(88%) contrast(93%);
            }
        }
    }
}

//===============================read more=================================================
// .read-more-state {
//     display: none;
//   }
  
//   .read-more-target {
//     opacity: 0;
//     max-height: 0;
//     font-size: 0;
//     transition: .25s ease;
//   }
  
//   .read-more-state:checked ~ ._items .read-more-target {
//     opacity: 1;
//     font-size: inherit;
//     max-height: 999em;
//     margin-top: 30px;
//   } 

//   .read-more-trigger {
//     cursor: pointer;
//     display: inline-block;
//     padding: 0 .5em;
//     color: #666;
//     font-size: .9em;
//     line-height: 2;
//     border-radius: .25em;
//   }

//   .read-more-state ~ .read-more-trigger:before {
//     content: 'Show more';
//   }
  
//   .read-more-state:checked ~ .read-more-trigger:before {
//     content: 'Show less';
//   }

//=======================================================================================================