@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@300&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  color: #333333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=_container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.regiter_profile_img {
  background: #F6F6F6;
  padding: 8px;
  border-radius: 50%;
}

.header {
  z-index: 100;
}

.register_main {
  height: 90.1vh;
  position: relative;
}
.register_main .register_bj {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.register_main .register_bj img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.register_main .register_container .reguster_form {
  left: 570px;
  top: 140px;
  display: inline-block;
  min-width: 540px;
  position: relative;
  z-index: 10;
  padding: 40px 95px 60px 95px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 10px;
}
.register_main .register_container .reguster_form .register_title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  text-align: center;
  color: #404156;
  margin-bottom: 20px;
}
.register_main .register_container .reguster_form .register_data {
  position: relative;
  margin-bottom: 20px;
}
.register_main .register_container .reguster_form .register_data img {
  padding: 15px;
  position: absolute;
}
.register_main .register_container .reguster_form .register_data input {
  width: 100%;
  padding: 20px 15px 20px 54px;
  background: #F6F6F6;
  border-radius: 10px;
}
.register_main .register_container .reguster_form .register_data .hide {
  right: 0;
  padding: 15px;
  position: absolute;
}
.register_main .register_container .reguster_form .register_btn {
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 10px;
  background: #DA1414;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #FFFFFF;
  cursor: pointer;
}
.register_main .register_container .reguster_form .register_description {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.register_main .register_container .reguster_form .register_description a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  text-decoration-line: underline;
  color: #DA1414;
}
.register_main .register_container .reguster_form .btns_login {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.register_main .register_container .reguster_form .btns_login a {
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}
.register_main .register_container .reguster_form .btns_login a img {
  margin-right: 15px;
}
.register_main .register_container .reguster_form .btns_login .google {
  background-color: #fff;
  color: #404156;
}
.register_main .register_container .reguster_form .btns_login .facebook {
  background: #0053B5;
  color: #FFFFFF;
}

.forgot {
  margin-top: -17px;
  margin-bottom: 20px;
}
.forgot a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  margin-bottom: 20px;
  color: #404156;
}

.main-settings {
  margin: 50px 0 20px 0;
}
.main-settings .main-settings_container {
  display: flex;
  gap: 30px;
}
.main-settings .main-settings_container .profile_settings {
  min-width: 255px;
}
.main-settings .main-settings_container .profile_settings ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.main-settings .main-settings_container .profile_settings ul li {
  display: flex;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #404156;
  background: inherit;
  position: relative;
}
.main-settings .main-settings_container .profile_settings ul li.active {
  color: #DA1414;
  padding-left: 15px;
}
.main-settings .main-settings_container .profile_settings ul li.active::after {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: #DA1414;
}
.main-settings .main-settings_container .profile_notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.main-settings .main-settings_container .profile_notifications .notification {
  align-items: center;
  background: #FCFCFC;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.main-settings .main-settings_container .profile_notifications .notification h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #404156;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 16px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #DA1414;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

:root {
  --clr-body-bg: #F6F6F6;
  --clr-header: #fff;
  --clr-icon-bg: #DA1414;
  --clr-card-blur:rgba(255, 255, 255, 0.9);
  --clr-red-txt:#DA1414;
  --clr-gray-txt:#DA1414;
  --clr-subtitle-1:#404156;
  --clr-subtitle-1-hov:#da141486;
  --clr-subtitle-2:#404156;
  --clr-search:#F6F6F6;
  --clr-btn-bg:#FAFAFA;
  --clr-btn-up:#DA1414;
  --clr-btn-triple:#404156;
  --clr-bg-svipe:#FBD0D0;
  --clr-reiting-bg:rgba(255, 255, 255, 0.8);
}

html[data-theme=dark] {
  --clr-body-bg: #121212;
  --clr-header: #262626;
  --clr-icon-bg: #DEDEDE;
  --clr-card-blur:rgba(18, 18, 18, 0.9);
  --clr-red-txt:#DEDEDE;
  --clr-gray-txt:#DEDEDE;
  --clr-subtitle-1:#9F9F9F;
  --clr-subtitle-1-hov:#dadada;
  --clr-subtitle-2:#DEDEDE;
  --clr-search:#121212;
  --clr-btn-bg:#181818;
  --clr-btn-up:#121212;
  --clr-btn-triple:#DEDEDE;
  --clr-bg-svipe:#121212;
  --clr-reiting-bg:rgba(18, 18, 18, 0.8);
}

.hide {
  display: none;
}

.footer_tt {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--clr-red-txt);
  margin-bottom: 10px;
}

.watching {
  background: #CAC200;
}

.viewed {
  background: #00CAA6;
}

.thrown {
  background: #CA3000;
}

body {
  background: var(--clr-body-bg);
}

.swiper-button-prev, .swiper-button-next {
  cursor: pointer;
  background: var(--clr-bg-svipe);
  border-radius: 5px;
}

.read-more-target {
  display: none;
}

.showText {
  display: block;
}

._items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 30px;
}
._items ._item {
  cursor: pointer;
  position: relative;
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
  border-radius: 10px;
  overflow: hidden;
}
._items ._item img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
._items ._item img:hover {
  transform: scale(1.1);
}

.card_info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card_status {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  text-align: center;
  color: #FFFFFF;
}
.card_status h3 {
  padding: 3px 0;
}

.card_description {
  padding: 20px;
  background: var(--clr-card-blur);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 0 0 10px 10px;
}
.card_description h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: var(--clr-red-txt);
  margin-bottom: 10px;
}
.card_description p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: var(--clr-subtitle-1);
}

.catd_rating {
  z-index: 100;
  display: flex;
  gap: 11px;
  padding: 5px 10px;
  background: var(--clr-reiting-bg);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 20px;
  right: 20px;
}
.catd_rating p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: var(--clr-red-txt);
}

._header {
  background: var(--clr-header);
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
  border-radius: 10px;
  padding: 18px 20px;
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
}
._header img {
  padding: 6px;
  background: var(--clr-icon-bg);
  border-radius: 5px;
}
._header h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: var(--clr-red-txt);
}

.header {
  padding: 26px 0;
  background: var(--clr-header);
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
.header .header_container .header_logo {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: var(--clr-red-txt);
  cursor: pointer;
}
.header .header_container .mb_burger {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1073px) {
  .header .header_container .mb_burger {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.801);
    padding-top: 90px;
    transition: all 0.3s ease 0s;
    overflow: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .active .header .header_container .mb_burger {
    left: 0;
  }
}
.header .header_container .mb_burger nav ul {
  display: flex;
  gap: 20px;
}
@media (max-width: 1073px) {
  .header .header_container .mb_burger nav ul {
    display: block;
  }
}
.header .header_container .mb_burger nav ul li {
  align-items: center;
  text-align: center;
  display: flex;
  gap: 8px;
}
@media (max-width: 1073px) {
  .header .header_container .mb_burger nav ul li {
    margin-bottom: 20px;
  }
}
.header .header_container .mb_burger nav ul li a {
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: var(--clr-subtitle-1);
  transition: all 0.3s ease 0s;
}
@media (max-width: 1073px) {
  .header .header_container .mb_burger nav ul li a {
    font-size: 24px;
    color: white;
  }
}
.header .header_container .mb_burger nav ul li a:hover {
  color: #DA1414;
}
.header .header_container .mb_burger form img {
  position: absolute;
  padding: 9.5px;
}
.header .header_container .mb_burger form .header_search {
  padding: 10px 10px 10px 38px;
  background: var(--clr-search);
  border-radius: 10px;
}
.header .header_container .header_profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header_container .header_profile div {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .header_container .header_profile div .sun {
  height: 20px;
  width: 20px;
}
.header .header_container .category {
  display: none;
}
@media (max-width: 1073px) {
  .header .header_container .category {
    display: initial;
    z-index: 10;
  }
}

.main {
  margin: 50px 0;
}
.main .main_container .main_full {
  display: flex;
  gap: 30px;
}
@media (max-width: 940px) {
  .main .main_container .main_full {
    display: block;
  }
}
.main .main_container .main_full .main_content {
  max-width: 74.3%;
}
@media (max-width: 940px) {
  .main .main_container .main_full .main_content {
    max-width: 100%;
  }
}
.main .main_container .main_full .main_content .main_seasons .seasons_header {
  background: var(--clr-header);
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
  border-radius: 10px;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main .main_container .main_full .main_content .main_seasons .seasons_header .header_left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.main .main_container .main_full .main_content .main_seasons .seasons_header .header_left img {
  padding: 6px;
  background: var(--clr-icon-bg);
  border-radius: 5px;
}
.main .main_container .main_full .main_content .main_seasons .seasons_header .header_left h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: var(--clr-red-txt);
}
.main .main_container .main_full .main_content .main_top {
  margin-top: 50px;
}
.main .main_container .main_full .main_content .main_mo_btn {
  margin-top: 32px;
  width: 100%;
  background: var(--clr-btn-bg);
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
  border-radius: 10px;
  color: var(--clr-red-txt);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.main .main_container .main_full .main_content .main_mo_btn:hover {
  color: white;
  background-color: #DA1414;
}
.main .main_container .main_full .main_sidebar {
  width: 100%;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card.active .card_title::after {
  transform: rotate(-45deg);
  background-color: var(--clr-red-txt);
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card.active .card_title::before {
  transform: rotate(45deg);
  background-color: var(--clr-red-txt);
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card.active h3 {
  color: var(--clr-red-txt);
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: var(--clr-subtitle-2);
  position: relative;
  cursor: pointer;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card h3::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  background-color: #404156;
  width: 8px;
  transform: rotate(-45deg);
  height: 1px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card h3::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  background-color: #404156;
  width: 8px;
  transform: rotate(45deg);
  height: 1px;
  margin-right: 5px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card h3.active::after {
  transform: rotate(45deg);
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card h3.active::before {
  transform: rotate(-45deg);
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 10px;
  line-height: 135%;
  color: #9F9F9F;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card .genre {
  margin-bottom: 5px;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .news_card .date {
  margin-bottom: 5px;
}
.main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .card_img {
  width: 100%;
  display: none;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 940px) {
  .main .main_container .main_full .main_sidebar .sidebar_news .news_cards .card .card_img {
    max-width: 100px;
  }
}
.main .main_container .main_full .main_sidebar .sidebar_reviews {
  margin-top: 50px;
}
.main .main_container .main_full .main_sidebar .sidebar_reviews .reviews_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .main_container .main_full .main_sidebar .sidebar_reviews .reviews_main img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
  border-radius: 10px;
}
.main .main_container .main_full .main_sidebar .sidebar_social_btn {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .main_container .main_full .main_sidebar .sidebar_social_btn .social_btn {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 0;
  border-radius: 10px;
}
.main .main_container .main_full .main_sidebar .sidebar_social_btn .inst {
  background: linear-gradient(93.38deg, #C000C4 0%, #EE7200 100%), #FAFAFA;
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
}
.main .main_container .main_full .main_sidebar .sidebar_social_btn .teleg {
  background: linear-gradient(93.38deg, #97C7FF 0%, #0679FF 100%), #FAFAFA;
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
}
.main .main_container .main_full .main_sidebar .sidebar_social_btn .youtube {
  background: linear-gradient(93.38deg, #DA1414 0%, #9F0000 100%);
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
}
@media (max-width: 940px) {
  .card {
    display: flex;
  }
  .news_card {
    display: flex;
  }
}
.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.skeleton-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #eee, #929292, #eee);
  background-size: 200%;
  animation: skeleton-1 1s infinite reverse;
}

@keyframes skeleton-1 {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.footer {
  padding: 50px 0;
  background-color: var(--clr-header);
}
.footer .footer_container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .footer .footer_container {
    gap: 30px;
  }
}
@media (max-width: 570px) {
  .footer .footer_container {
    position: relative;
    gap: 30px;
    flex-direction: column;
  }
}
.footer .footer_container .footer_social {
  margin-right: 41px;
}
@media (max-width: 720px) {
  .footer .footer_container .footer_social {
    margin-right: 0;
  }
}
.footer .footer_container .footer_social .socisl_title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--clr-red-txt);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer .footer_container .footer_social .social_subtitle {
  margin-bottom: 20px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #9F9F9F;
}
.footer .footer_container .footer_social .socisl_items {
  display: flex;
  gap: 15px;
}
.footer .footer_container .footer_social .socisl_items a {
  display: flex;
}
.footer .footer_container .footer_social .socisl_items a .social_item {
  cursor: pointer;
}
.footer .footer_container .footer_list {
  display: flex;
  gap: 30px;
}
.footer .footer_container .footer_list .footer_seasons {
  margin-right: 93px;
}
@media (max-width: 700px) {
  .footer .footer_container .footer_list .footer_seasons {
    margin-right: 63px;
  }
}
.footer .footer_container .footer_list .footer_seasons ul li a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--clr-subtitle-1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.footer .footer_container .footer_list .footer_seasons ul li a:hover {
  color: var(--clr-subtitle-1-hov);
}
.footer .footer_container .footer_list .footer_seasons ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer_container .footer_list .footer_genres {
  margin-right: 93px;
}
@media (max-width: 700px) {
  .footer .footer_container .footer_list .footer_genres {
    margin-right: 63px;
  }
}
.footer .footer_container .footer_list .footer_genres ul li a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: var(--clr-subtitle-1);
}
.footer .footer_container .footer_list .footer_genres ul li a:hover {
  color: var(--clr-subtitle-1-hov);
}
.footer .footer_container .footer_list .footer_genres ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer_container .footer_about {
  max-width: 349px;
}
@media (max-width: 880px) {
  .footer .footer_container .footer_about {
    display: none;
  }
}
.footer .footer_container .footer_about .about_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--clr-subtitle-1);
}
.footer .footer_container .footer_about .about_text p:not(:last-child) {
  margin-bottom: 7px;
}
.footer .footer_container .button_up {
  padding: 14px 11px;
  background-color: var(--clr-btn-up);
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid var(--clr-btn-up);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media (max-width: 570px) {
  .footer .footer_container .button_up {
    position: absolute;
    top: 0;
    right: 15px;
  }
}
.footer .footer_container .button_up:hover {
  background-color: inherit;
}
.footer .footer_container .button_up:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(62%) saturate(5963%) hue-rotate(355deg) brightness(88%) contrast(93%);
}/*# sourceMappingURL=style.css.map */