@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@300&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  color: #333333;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=_container] {
  max-width: 1139px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer_tt {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #DA1414;
  margin-bottom: 10px;
}

.header {
  padding: 26px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(230, 230, 230, 0.25);
}
.header .header_container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
.header .header_container .header_logo {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  color: #DA1414;
  cursor: pointer;
}
.header .header_container .mb_burger {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header .header_container .mb_burger nav ul {
  display: flex;
  gap: 20px;
}
.header .header_container .mb_burger nav ul li {
  align-items: center;
  text-align: center;
  display: flex;
  gap: 8px;
}
.header .header_container .mb_burger nav ul li a {
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #404156;
  transition: all 0.3s ease 0s;
}
.header .header_container .mb_burger nav ul li a:hover {
  color: #DA1414;
}
.header .header_container .mb_burger form img {
  position: absolute;
  padding: 9.5px;
}
.header .header_container .mb_burger form .header_search {
  padding: 10px 10px 10px 38px;
  background: #F6F6F6;
  border-radius: 10px;
}
.header .header_container .header_profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header_container .header_profile div img:not(:last-child) {
  margin-right: 8px;
}
.header .header_container .category {
  display: none;
}
@media (max-width: 1073px) {
  .header .header_container .category {
    display: initial;
  }
}

@media (max-width: 1073px) {
  .mb_burger {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.801);
    padding-top: 90px;
    transition: all 0.3s ease 0s;
    overflow: auto;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .header .header_container .mb_burger nav ul {
    display: block;
  }
  .header .header_container .mb_burger nav ul li a {
    font-size: 24px;
    color: white;
  }
  .header .header_container .mb_burger nav ul li {
    margin-bottom: 20px;
  }
  .active .mb_burger {
    left: 0;
  }
  .category {
    z-index: 10;
  }
}
.main_card {
  border-radius: 10px;
  position: relative;
  display: inline-block;
}

.card_info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card_status {
  background: #00CAA6;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  text-align: center;
  color: #FFFFFF;
}

.card_description {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
.card_description h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #DA1414;
  margin-bottom: 10px;
}
.card_description p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  color: #404156;
}

.catd_rating {
  display: flex;
  gap: 11px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 20px;
  right: 35px;
}
.catd_rating p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #DA1414;
}

.footer {
  padding: 50px 0;
  background-color: white;
}
.footer .footer_container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .footer .footer_container {
    gap: 30px;
  }
}
@media (max-width: 570px) {
  .footer .footer_container {
    position: relative;
    gap: 30px;
    flex-direction: column;
  }
}
.footer .footer_container .footer_social {
  margin-right: 41px;
}
@media (max-width: 720px) {
  .footer .footer_container .footer_social {
    margin-right: 0;
  }
}
.footer .footer_container .footer_social .socisl_title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #DA1414;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer .footer_container .footer_social .social_subtitle {
  margin-bottom: 20px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #9F9F9F;
}
.footer .footer_container .footer_social .socisl_items {
  display: flex;
  gap: 15px;
}
.footer .footer_container .footer_list {
  display: flex;
  gap: 30px;
}
.footer .footer_container .footer_list .footer_seasons {
  margin-right: 93px;
}
@media (max-width: 700px) {
  .footer .footer_container .footer_list .footer_seasons {
    margin-right: 63px;
  }
}
.footer .footer_container .footer_list .footer_seasons ul li {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #404156;
}
.footer .footer_container .footer_list .footer_seasons ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer_container .footer_list .footer_genres {
  margin-right: 93px;
}
@media (max-width: 700px) {
  .footer .footer_container .footer_list .footer_genres {
    margin-right: 63px;
  }
}
.footer .footer_container .footer_list .footer_genres ul li {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #404156;
}
.footer .footer_container .footer_list .footer_genres ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .footer_container .footer_about {
  max-width: 349px;
}
@media (max-width: 880px) {
  .footer .footer_container .footer_about {
    display: none;
  }
}
.footer .footer_container .footer_about .about_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #404156;
}
.footer .footer_container .button_up {
  padding: 15px 12px;
  background-color: #DA1414;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}
@media (max-width: 570px) {
  .footer .footer_container .button_up {
    position: absolute;
    top: 0;
    right: 15px;
  }
}/*# sourceMappingURL=style.css.map */